## OS X
.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


## Emacs
*~
\#*\#
.\#*

## autotools

Makefile
*.o
*.lo
*.la
.libs
.deps
stamp-h1
/autom4te.cache
/libtool
/config.log
/config.status
*.tar.gz
/autoscan.log
/configure.scan
*.in
/configure
/aclocal.m4
/build-aux
/m4
/libtool
/autom4te.cache
/ltmain


/test/run-test.sh.log
/test/run-test.sh.trs
/test/test-suite.log

/src/config.h
/src/frozenhash

log.txt
